{% extends "base.html" %}
{% block content%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>    
<!-- <form id="customer_input" action="save_data" method="post">
    {{ form.media }}
    {{ form }}
    <input type="submit" value="Submit">
</form> -->

<form id="customer_input" action="save_data" method="post">
    <label for="team_name">Enter name: </label>
    <input id="team_name" type="text" name="name_field" value="Default name for team.">
    <input type="submit" value="OK">
</form>
{% endblock%}